{% extends "base.njk" %}
{% block content %}
<h3>Change your password on {{ sitename }}</h3>
<p></p>
	<form action="/api/user/password" method="POST" target="responseFrame">
   		Old Password: </br><input type="password" name="password" style="min-width: 300px"/></br>
		New Password: </br><input type="password" name="newpassword" style="min-width: 300px"/></br></br>
		<input type="submit" value="Submit">
	</form>
	<iframe name="responseFrame" border="0" frameborder="0" style="display: inline;"></iframe>
{% endblock %}