{% extends "base.njk" %}
{% block content %}
<h3>Update your profile on {{ sitename }}</h3><span style="font-size: small;">Integrate your chat with other <a href="/profile/chat">platforms</a>.</br></span><span style="font-size: small;">Or, change your <a href="/changepwd">password</a>.</span>
<p></p>
	<form action="/api/user/update" method="POST" target="responseFrame">
		Stream Title: </br><input type="text" name="title" style="min-width: 300px" value="{{meta.title}}"/></br>
		Bio: </br><input type="text" name="bio" style="min-width: 300px; min-height: 150px;" value="{{meta.about}}"/></br>
		Record VODs: <input type="radio" name="record" value="true"> Yes<input type="radio" name="record" value="false" /> No</br></br>
		<input type="submit" value="Update Profile">
	</form></br>
	<form action="/api/user/streamkey" method="POST" target="responseFrame">
		<input type="submit" value="Request New Stream Key">
	</form>
	<iframe name="responseFrame" border="0" frameborder="0" style="display: inline;"></iframe>
{% endblock %}